@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte-titulo: 'Passion One', cursive;
    --fonte-corpo: 'Sriracha', cursive;
    --fonte-padrao: Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: white;
    min-height: 100vh; 
    font-family: var(--fonte-padrao);
}

header {
    background-color: black;
    text-align: center;
    padding-top: 50px;
    color: white;
}

header > h1 {
    padding-top: 70px;
    font-family: var(--fonte-titulo);
    font-variant: small-caps;
    font-size: 10vw;
    font-weight: lighter;
}

header > p {
    font-size: 1.5;
    font-weight: lighter;
    padding-bottom: 70px;
}

a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-corpo);
    font-size: 4vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(34, 34, 34);
    color:white;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.596);
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.801);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    border-radius: 3%;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
  
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer {
    background-color: black;
    text-align: center;
    color:white;
    padding: 10px;
}